html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

#content {
	height: 100%;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

/*
				THUMBNAILS
*/

#thumbnails {
	position: absolute;
	height: 100%;
	width: 312px;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
}

#thumbnails > ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#thumbnails > ul li{
	width: 100px;
	height: 100px;
	margin: 2px;
	float: left;
	background-color: rgba(255,255,255, 0.2);
}


/*
				SLIDESHOW
*/

#slideshow {
	height: 100%;
	margin-left: 314px;
	position: relative;
}

#slideshow .previous, #slideshow .next {
	position: absolute;
	width: 60px;
	height: 100%;

	font-size: 40px;
	text-align: center;
	
	cursor: pointer;

	display: table;
	vertical-align: middle;
}

#slideshow .previous:hover, #slideshow .next:hover {
	background-color: rgba(255,255,255, 0.1);
}

#slideshow .previous {
	left: 0px;
}
#slideshow .next {
	right: 0px;
}

#slideshow .previous span, #slideshow .next span {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	content: "<";
}
