html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

#content {
	padding: 0px;
	margin: 0px;
	height: 100%;
	/*border: 1px solid red;*/
	/*box-sizing: border-box;*/
}

/*
				THUMBNAILS
*/

#thumbnails {
	position: absolute;
	height: 100%;
	width: 312px;
	left: 0px;
	top: 0px;
	padding: 2px;
}

#thumbnails > ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#thumbnails > ul li{
	width: 100px;
	height: 100px;
	margin: 2px;
	float: left;
	background-color: rgba(255,255,255, 0.2);
}

#thumbnails > ul li.add {
	width: 308px;
	height: 100px;
	background-color: transparent;
	border: 3px dashed rgba(255,255,255, 0.4);
	border-radius: 4px;
	margin-top: 20px;
	box-sizing: border-box;
}
#thumbnails > ul li.add {
	color: rgba(255,255,255, 0.4);
	line-height: 100px;
	text-align: center;
	width: 100%;
	font-size: 28px;
	display: block;
	margin: 0px;
	padding: 0px;
}

#thumbnails > ul li.add:before {
	content: 'Add a picture';
	display: none;
}		


/*
				SLIDESHOW
*/
#slideshow {
	height: 100%;
	padding: 0px;
	margin: 0px;
	margin-left: 316px;
	position: relative;
	text-align:center;
}
#slideshow:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	background-color: red;
	content: "";
}


#slideshow .previous, #slideshow .next {
	position: absolute;
	top: 0px;
	width: 60px;
	height: 100%;

	font-size: 50px;
	text-align: center;
	
	cursor: pointer;

	display: table;
	vertical-align: middle;

}

#slideshow .previous:hover, #slideshow .next:hover {
	background-color: rgba(255,255,255, 0.1);
}

#slideshow .previous {
	left: 0px;
}
#slideshow .next {
	right: 0px;
}

#slideshow .previous span, #slideshow .next span {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	content: "<";
}

#picture {
	background-color: rgba(255,255,255, 0.3);
	min-height: 200px;
	width: 300px;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}